<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="consultancy, software development, service">
  <meta property="og:locale" content="en_US">
  <meta property="og:site_name" content="ntegral.co.uk">
  <meta property="og:title" content="NTEGRAL">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://ntegral.co.uk/">
  <meta property="og:description" content="consultancy, software development, service">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon.png" sizes="144x144">
  <title>ntegral | software that delivers</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

  <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.js"></script>

</head>

<body class="home" id="home">
  <div class="home-header section">
    <div class="header-items">
      <div class="header-title">
        <a href="/" id="go-home">

        </a>
        <span id="c-sharp">И</span>TEGRAL
      </div>
      <div class="header-nav">

        <div class="header-nav-links">
          <a href="#" id="our-services">What we do</a>
          <!-- <a href="#" id="about-us">What we do</a> -->
          <a href="mailto:info@ntegral.co.uk">Contact us</a>
        </div>
        <div class="header__navCtas"></div>
      </div>
    </div>

  </div>



  <div class="sections">

    <!-- <div class="loading-stripes"> -->


    <header class="animated fadeInUp flex flex-column">



      <div class="flex-auto flex items-center">

        <span class="modern-title" id="modern-title">

          <h1>

            We help businesses to deliver <span id="c-sharp">software</span> solutions to complex challenges <span
              id="c-sharp">quickly</span> and <span id="c-sharp">efficiently</span> without sacrificing quality.
          </h1>

          <h1>

            <!--  We focus on delivering software <span id="c-sharp">quickly</span> and <span id="c-sharp">efficiently</span>
            without sacrificing quality -->
          </h1>

          <!--   <h2>
            Helping businesses to deliver solutions to complex challenges quickly, more securely and without worry.
          </h2>
 -->
          <p>
            <button class="home-button hire" id="work-with-us">Work With Us</button>
            <button class="home-button learn" id="learn-more">Learn More</button>
          </p>

        </span>

      </div>

      <div class="flex-static darr animated fadeInDown" id="scrollme">↓</div>

    </header>
    <!-- </div> -->

  </div>

  <div class="modern-sections">


    <div id="services" class="flex-auto flex items-center">

      <section>

        <h2>What We Do</h2>
        <!-- <div class="header-bar"></div> -->

        <h3>
          Our area of expertise is <span id="area-of-expertise">full stack</span> web development.
          Our software engineers are skilled in a number of languages and technologies including <span
            id="area-of-expertise">C#</span>, <span id="area-of-expertise">.Net Core</span>, and the latest JavaScript
          frameworks such as <span id="area-of-expertise">React</span> and <span id="area-of-expertise">Angular</span>.
        </h3>

        <h4>
          Below is a breakdown of what we can do at each level of the stack, <span id="get-in-touch"><a
              href="mailto:info@ntegral.co.uk">get in touch</a></span> if you'd like more info.
        </h4>

        <div class="flex-container">
          <div class="flex-item">
            <div class="circle">
              <i class="material-icons code">important_devices</i>
            </div>
            <div class="expertise-item-label">
              Frontend
            </div>
            <div class="header-bar-service"></div>
            <div>
              <p>Clean responsive designs, simple content structure, and thoughtful interactions</p>
            </div>
            <div class="expertise-item-description">
              <ul>
                <li>Design / Implement frontend applications</li>
                <li>Design / Implement SPAs</li>
                <li>Build visual dashboards</li>
                <li>Migrate existing/legacy applications</li>
                <li>Fix / update existing/legacy applications</li>
              </ul>
            </div>
          </div>
          <div class="flex-item">
            <div class="circle">
              <i class="material-icons code">code</i>
            </div>
            <div class="expertise-item-label">
              Backend
            </div>
            <div class="header-bar-service"></div>
            <div>
              <!-- <p>Back end solutions that scale written with high-quality, well-tested, maintainable code that
                adheres to software design principles and best practices.</p> -->
              <p>Back end solutions that scale written with high-quality, well-tested, maintainable code</p>
            </div>
            <div class="expertise-item-description">
              <ul>
                <li>Build REST / GraphQL APIs</li>
                <li>Integration with existing / 3rd party APIs</li>
                <li>Build .Net Core applications</li>
                <li>Build Microservice oriented applications</li>
                <li>Containerize applications</li>
                <li>Build message bus pipeline</li>
                <li>Fix / update existing backend application/API</li>
              </ul>
            </div>
          </div>
          <div class="flex-item">
            <div class="circle">
              <i class="material-icons code">integration_instructions</i>
            </div>
            <div class="expertise-item-label">
              Database
            </div>
            <div class="header-bar-service"></div>
            <div>
              <!--  <p>Combining everything in the front and backend tiers to provide robust full stack applications to suit a
                multitude of client needs</p> -->
              <p>
                Latest data storage solutions hosted on site or in the cloud
              </p>
            </div>
            <div class="expertise-item-description">
              <ul>
                <li>On site and cloud storage solutions (Azure SQL, CosmosDB etc)</li>
                <li>RDMS / NoSQL / Graph database options</li>
                <li>Integration using latest technologies and ORMs (EF Core etc)</li>
                <li>Upgrade / migration of existing database</li>
              </ul>
            </div>
          </div>
          <div class="flex-item-last">
            <div class="circle">
              <i class="material-icons code">settings_system_daydream</i>
            </div>
            <div class="expertise-item-label">
              DevOps
            </div>
            <div class="header-bar-service"></div>
            <div>
              <!-- <p>Great applications need a great platform to run on. Full setup and configuration of cloud
                infrastructure can be provided as well as advice and guidance</p> -->
              <!-- <p>Great applications need a great platform to run on. Whether on site or in the cloud we provide full end to end setup and configuration as well as general advice and guidance</p>
                 -->

              <p>On-site or cloud infrastructure setup, configuration and automation, as well as general advice and
                guidance</p>

              <!--  <p>Whether on site or in the cloud we provide full end to end setup and configuration as well as general advice and guidance</p> -->

            </div>
            <div class="expertise-item-description">
              <ul>
                <li>Setup / Configure CI/CD pipeline</li>
                <li>Deploy apps to cloud</li>
                <li>Microservices build / configuration / deployment</li>
                <li>Docker container configuration / deployment</li>
                <li>Agile / DevOps best practices guidance and advice</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="flex-static darr animated" id="scrollme-services">↓</div>

      </section>
    </div>


    <div id="contact" class="flex-auto flex items-center">

      <section>
        <h2>Contact Us</h2>
        <!--  <div class="header-bar waypoint animated slide-in-right" data-animation="slide-in-right" data-delay=".25s"
          style="animation-delay: 0.25s;"></div> -->

        <h5>Have a question or want to work with us? </h5>
        <form action="https://formspree.io/mnqgzvde" method="POST" id="contact-form">

          <label>
            Full Name
            <input type="text" name="name" placeholder="John Doe">
          </label>
          <div class="contact-row">
            <label>
              Email Address
              <input type="text" name="_replyto" placeholder="john.doe@mail.com">
            </label>
            <label>
              Phone (Optional)
              <input type="text" name="phone" placeholder="(123) 456-7890">
            </label>
          </div>
          <label>
            Your Message
            <textarea name="message"></textarea>
          </label>

          <!-- other form fields go here -->

          <button type="submit">Send</button>
        </form>
      </section>

    </div>


    <footer>

      <i class="material-icons code back-to-top">arrow_circle_up</i>

      <!--  <div class="links">
        <a href="https://paulburkinshaw.github.io/understanding-software/" target="_blank">
          Blog
        </a>

        <a href="https://www.linkedin.com/in/pburkinshaw/" target="_blank">
          LinkedIn
        </a>

        <a href="https://twitter.com/pauljburkinshaw/" target="_blank">
          Twitter
        </a>

        <a href="https://github.com/paulburkinshaw/" target="_blank">
          GitHub
        </a>

        <a href="/assets/PaulBurkinshawCV.pdf" target="_blank" download>
          CV
        </a>
      </div> -->

      <div class="footnote">
        NTEGRAL LIMITED <span class="highlight">©2020</span>
      </div>

    </footer>

  </div>

  </div>

  <script>

    $("#work-with-us").click(function () {
      $([document.documentElement, document.body]).animate({
        scrollTop: $("#contact").offset().top
      }, 1000);
    });

    $("#learn-more").click(function () {
      $([document.documentElement, document.body]).animate({
        scrollTop: $("#services").offset().top
      }, 1000);
    });

    $("#about-us").click(function () {
      $([document.documentElement, document.body]).animate({
        scrollTop: $("#about").offset().top
      }, 1000);
    });

    $("#our-services").click(function () {
      $([document.documentElement, document.body]).animate({
        scrollTop: $("#services").offset().top
      }, 1000);
    });

    $("#contact-us").click(function () {
      $([document.documentElement, document.body]).animate({
        scrollTop: $("#contact").offset().top
      }, 1000);
    });

    $("#scrollme").click(function () {
      $([document.documentElement, document.body]).animate({
        scrollTop: $("#services").offset().top
      }, 1000);
    });

    $("#scrollme-about").click(function () {
      $([document.documentElement, document.body]).animate({
        scrollTop: $("#expertise").offset().top
      }, 1000);
    });

    $("#scrollme-expertise").click(function () {
      $([document.documentElement, document.body]).animate({
        scrollTop: $("#services").offset().top
      }, 1000);
    });

    $("#scrollme-services").click(function () {
      $([document.documentElement, document.body]).animate({
        scrollTop: $("#contact").offset().top
      }, 1000);
    });

    $(".back-to-top").click(function () {
      $([document.documentElement, document.body]).animate({
        scrollTop: $("#home").offset().top
      }, 1000);
    });



    $("#slider-checkbox").click(function () {
      if ($(this).is(":checked")) {
        $("#spectrum-title").addClass("hide-spectrum-title");
        $("#modern-title").addClass("show-modern-title");

        $("body").addClass("modernise");
      }
    });

    $("#toggle-off").click(function () {
      if ($(this).is(":checked")) {
        $("#spectrum-title").addClass("hide-spectrum-title");
        $("#modern-title").addClass("show-modern-title");
        $(".modern-sections").addClass("show-modern-sections");
        $(".modern-sections").removeClass("modern-sections-hide");
        $("#scrollme").removeClass("hide-element");
        $("#scrollme").addClass("fadeInDown");
        $(".home").addClass("modern-home");
        $(".button-wrapper").addClass("button-wrapper-modern");
        $("body").addClass("modernise");
      }
    });

    $("#toggle-on").click(function () {
      if ($(this).is(":checked")) {
        $("#spectrum-title").removeClass("hide-spectrum-title");
        $("#modern-title").removeClass("show-modern-title");
        $(".modern-sections").removeClass("show-modern-sections");
        $(".modern-sections").addClass("modern-sections-hide");
        $("#scrollme").addClass("hide-element");
        $("#scrollme").removeClass("fadeInDown");
        $(".home").removeClass("modern-home");
        $(".button-wrapper").removeClass("button-wrapper-modern");
        $("body").removeClass("modernise");
      }
    });


  </script>


</body>

</html>